<a class="login-panel" asp-area="" asp-action="Login" asp-controller="Account"><i class="fa fa-user"></i>Login</a>
<a class="login-panel" asp-area="" asp-action="Register" asp-controller="Account"><i class="fa fa-user-plus"></i>Registration</a>