@model WebTask.ViewModels.Identity.Auth.UserIdentityViewModel
<a class="login-panel" asp-area="" asp-action="Logout" asp-controller="Auth" data-method="post"><i class="fa fa-sign-out"></i>@Model.Email (Logout)</a>

