@using WebTask.Common.Enums
@{
    ViewData["Title"] = "Products";
}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                @await Component.InvokeAsync("ProductSidebarFilter")
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select id="pSort" asp-items="Html.GetEnumSelectList<PSort>()" class="sorting">
                                </select>
                                <select id="itemsPerPage" asp-items="Html.GetEnumSelectList<PShow>()" class="p-show"></select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show 01- <span id="itemsCount">9</span>  Of <span id="productsCount"></span> Product</p>
                        </div>
                    </div>
                </div>
                <div id="products"></div>
                <div class="loading-more">
                    <i class="icon_loading"></i>
                    <a id="btnLoadingMore">
                        Loading More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/shop.js"></script>


