<div class="select-option">
    <select class="sorting">
        <option value="">Default Sorting</option>
    </select>
    <select id="itemsPerPage" class="p-show">
        <option value="9">Show 9</option>
        <option value="18">Show 18</option>
        <option value="36">Show 36</option>
    </select>
</div>